:root {
    --institucional: #004278;
    --blanco: #ffffff;
    --gris: #BCBDC0;
}

.admin-body {
    max-width: 100%;
}

.navbar{
    background-color: #004278;
}

.navbar a {
    color: var(--blanco);
}

.sidebar {
    background-color: #f7f7f7;
}
.sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;
}

.title-admin {
    color: #F2F2F2;
    background: linear-gradient(90deg, #131516 1%, #004278 50%);
    padding: 0.2em 1em;
    margin: 40px 0;
    font-family: 'Oswald';
    font-size: 30pt;
}

.title-admin h1 {
    color: var(--blanco);
}

.btn-outline-institucional {
    color: var(--institucional);
    border-color: var(--institucional);
}

.btn-outline-institucional:hover{
    background-color: var(--institucional);
    color: var(--blanco);
    transition: 1s;
}
.form-check-input:checked {
    background-color: var(--institucional);
    border-color: var(--institucional);
}

/* Accordion sidebar */
.accordion-item {
    background-color: #f7f7f7;
    color: var(--blanco);
    border: none;
}

.accordion-button {
    background-color: #f7f7f7;
    color: var(--institucional);
}

.accordion-button:not(.collapsed) {
    color: var(--institucional);
    background-color: #f7f7f7;
    box-shadow: none;
}

.accordion-body {
    color: var(--institucional);
    align-items: center;
    display: flex;
    padding-left: 50px;
}

.accordion-body i, .card-body i, .nav-item i {
    margin-right: 10px;
}

.nav-link:focus, .nav-link:hover {
    color: var(--institucional);
}
/* .nav-link:focus, .nav-link:hover {
    color: var(--institucional);
} */

.logos-top-admin{
    height: 70px;
} 

.dropdown-menu{
    background-color: #004278;
    padding-bottom: 0;
    padding-top: 0;
}

.dropdown-menu li > a {
    color: white;
}

.dropdown-menu li > a:hover {
    background-color: #e9ecef;
    color: #212529;
}

