<footer class="pie flex-wrap">
	<div class="col-12 col-lg-3 imagen_pie">
		<img src="https://media2.utp.edu.co/imagenes/Logo-UTP-Azul.png" alt="Identificador UTP" width="150">
	</div>
	<div class="col-12 col-lg-9 informacion_pie">
		© 2023 - Universidad Tecnológica de Pereira - <a href="https://www2.utp.edu.co/acreditacion/historia-de-la-acreditacion-utp.html">Reacreditada institucionalmente en 2021, con vigencia de 10 años</a> - Sujeta a inspección y vigilancia<br>
		<!-- Carrera 27 #10-02 Barrio Alamos - Pereira - Risaralda - Colombia - Código postal: 660003 - <a href="https://www2.utp.edu.co/registro/19/ceres">CERES</a><br/> -->
		Carrera 27 #10-02 Barrio Alamos - Pereira - Risaralda - Colombia - Código postal: 660003 <br>
		PBX: +57 606 3137300 - Fax: +57 606 3213206 - Línea gratuita de Quejas y Reclamos y Línea anticorrupción: 018000966781 - <strong>contactenos<span style="display:none">null</span>@<span style="display:none">null</span>utp.<span style="display:none">null</span>edu.co</strong> <br>
		<a href="https://media.utp.edu.co/paginaprincipal/documentos/directorio-UTP.pdf" target="_blank" rel="noopener noreferrer">Directorio telefónico interno</a> - Horario de atención: Lunes a Viernes de 8:00am a 12:00m y de 2:00pm a 6:00pm - <a href="//www2.utp.edu.co/principal/mapa.php" target="_blank" rel="noopener noreferrer">Mapa del Sitio</a><br>
		<!-- <a href="#" onclick="window.open('https://media.utp.edu.co/paginaprincipal/documentos/directorio-UTP.pdf')" target="_blank" rel="noopener noreferrer">Directorio telefónico interno</a> - Horario de atención: Lunes a Viernes de 8:00am a 12:00m y de 2:00pm a 6:00pm<br/> -->
		<a href="https://www2.utp.edu.co/cms-utp/data/bin/UTP/web/uploads/media/comunicaciones/documentos/Canales-de-comunicacioon.pdf">Canales de comunicación Contingencia COVID-19</a> - Institución de Educación Superior vigilada por MinEducación<br>
		<a href="https://crie.utp.edu.co/lineamientos-y-politicas/">Términos y Condiciones CRIE</a> - <a href="https://www2.utp.edu.co/gestioncalidad/sin-categoria/286/manual-de-directrices">Políticas de Seguridad de la Información</a> - <a href="https://www2.utp.edu.co/secretaria/informacion-general/678/notificaciones-judiciales">Notificaciones Judiciales</a><br>

		<!-- <a href="https://www2.utp.edu.co/cms-utp/data/bin/UTP/web/uploads/media/calidad/documentos/1313-MGD-01-Manual-General-de-Directrices-del-SGSI-V2.pdf">Políticas de Seguridad de la Información</a> - <a href="https://www2.utp.edu.co/secretaria/informacion-general/678/notificaciones-judiciales">Notificaciones Judiciales</a><br/> -->
		Desarrollado por: <a href="https://crie.utp.edu.co/desarrollo-web">Recursos Informáticos y Educativos, Desarrollo y Administración Web UTP</a>
	</div>
</footer>