<section class="row footer-main pt-3 pb-3" role="contentinfo" id="pie-de-pagina">

	<div class="row align-content-center mb-4">
		<h2 class="col-5 d-none d-sm-block footer-main__title">
			<strong>Contacto</strong>
		</h2>

		<div class="col-12 col-sm-7 text-center text-lg-end">
			<a href="https://www.facebook.com/utpereira/" aria-label="Facebook UTP" target="_blank" rel="noopener" data-bs-toogle="tooltip" title="Facebook UTP"><img src="//media.utp.edu.co/cms/img/iconos-redes-gris/facebookg.png" alt="facebook"></a>
			<a href="https://twitter.com/UTPereira" aria-label="Twitter UTP" target="_blank" rel="noopener" data-bs-toogle="tooltip" title="Twitter UTP"><img src="//media.utp.edu.co/cms/img/iconos-redes-gris/twitterg.png" alt="twitter"></a>
			<a href="https://www.youtube.com/user/utpereira" aria-label="YouTube UTP" target="_blank" rel="noopener" data-bs-toogle="tooltip" title="YouTube UTP"><img src="//media.utp.edu.co/cms/img/iconos-redes-gris/youtubeg.png" alt="youtube"></a>
			<a href="https://www.instagram.com/UTPereira/" aria-label="Instgram UTP" target="_blank" rel="noopener" data-bs-toogle="tooltip" title="Instagram UTP"><img src="//media.utp.edu.co/cms/img/iconos-redes-gris/instagramg.png" alt="instagram"></a>
			<a href="https://co.linkedin.com/school/universidad-tecnol-gica-de-pereira/" aria-label="Linkedin UTP" target="_blank" rel="noopener" data-bs-toogle="tooltip" title="Linkedin UTP"><img src="//media.utp.edu.co/cms/img/iconos-redes-gris/linkeding.png" alt="facebook"></a>
			<a href="https://www.utp.edu.co/atencionalciudadano/herramientas-y-ayuda.html" aria-label="Ayuda al Cuidadano" target="_blank" rel="noopener" data-bs-toogle="tooltip" title="Aplicacion Movil UTP"><img src="//media.utp.edu.co/cms/img/iconos-redes-gris/portalg.png" alt="utp"></a>
		</div>
	</div>	      
		
	<div class="col-12 col-sm-5 footer-main__contacto-info mb-4 mb-md-0">
		<h2 class="mb-3 d-sm-none footer-main__title"><strong>Contacto</strong></h2>
		<p class="mb-0"><strong> Llámanos</strong></p>
		<p class="mb-0"> Teléfono: +57 6 3137141 - Fax: 3137107</p>
		<p class="mb-0"> Conmutador: (57) (6) 313 7300</p>
		<br>
		<p class="mb-0">Correo: <a href="mailto:contactenos@utp.edu.co?Subject=Correo%20de%20contacto%20"><strong>contactenos@utp.edu.co</strong></a></p>
		<br>
		<p class="mb-0"><strong>Dirección:</strong></p>
		<p class="mb-0">Recursos Informáticos y Educativos - CRIE</p>
		<p class="mb-0">Carrera 27 #10-02 Barrio Álamos Pereira, Risaralda</p>
		<p class="mb-0">Edificio 3 - oficina 307</p>
	</div>

	<div class="col-12 col-sm-7">
		<p> © 2023 - <a href="//www.utp.edu.co" aria-label="Portal UTP"></a>Universidad Tecnológica de Pereira - <a href="//www.utp.edu.co/acreditacion/historia-de-la-acreditacion-utp.html" aria-label="Leer Acreditacion">Reacreditada institucionalmente en 2021, con vigencia de 10 años </a>- Sujeta a inspección y vigilancia</p>
		<br>
		<p> Carrera 27 #10-02 Barrio Álamos - Risaralda - Colombia - AA: 97 - Código postal: 660003<a href="//www.utp.edu.co/registro/19/ceres" aria-label="Leer Ceres">CERES</a><br></p>
		<br>
		<p>PBX: +57 6 3137300 - Fax: +57 6 3213206 - Línea gratuita de Quejas y Reclamos: 018000966781<b><a href="mailto:contactenos@utp.edu.co?Subject=Correo%20de%20contacto%20" style="color:#000000">contactenos@utp.edu.co</a></b></p>
		<p><b>Horario de atención:</b>Lunes a Viernes de 8:00am a 12:00m y de 2:00pm a 6:00pm</p>
		<br>
		<p>Institución de Educación Superior vigilada por <a href="https://www.mineducacion.gov.co/portal/" aria-label="Ministeria de Educación">MinEducación</a></p>
		<p><a href="//www.utp.edu.co/cms-utp/data/bin/UTP/web/uploads/media/calidad/archivos/1313-MGD-01_V4_Manual_General_de_Directrices_del_SGSI.pdf" aria-label="Leer Politicas">Políticas de Seguridad de la Información</a> - <a href="//www.utp.edu.co/secretaria/informacion-general/678/notificaciones-judiciales" aria-label="Leer Notificacion">Notificaciones Judiciales</a></p>
		<br>
		<p>Desarrollado por:<a href="//crie.utp.edu.co/desarrollo-web" aria-label="Ir a pagina del crie">Recursos Informáticos y Educativos, Desarrollo y Administración Web UTP</a></p>

	</div>


</section>

<button type="button" class="anclaInferior" title="Inicio">
	<a aria-label="Ir al inicio de la página" href="#header">
		<span class="bi bi-arrow-up"></span>
	</a>
</button>
