<header id="header">
    <!-- sección del banner superior -->
    <nav class="row align-items-center logos-top justify-content-around row_cabecera">
        <div class="col-2 col-md-1 d-lg-none">
            <div class="btn-group dropend">
                <button class="btn btn-light dropdown rounded-end" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Menu institucional">
                    <i class="bi bi-list"></i>
                    <ul class="dropdown-menu">
                        <li class="nav-item"><a class="nav-link" href="https://eventos.utp.edu.co/">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www2.utp.edu.co/principal/accesibilidad.php">Accesibilidad</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://pqrs.utp.edu.co/">PQRS</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www2.utp.edu.co/atencionalciudadano/">Atención al Ciudadano</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www2.utp.edu.co/atencionalciudadano/transparencia-y-acceso-a-informacion-publica.html">Transparencia</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www2.utp.edu.co/atencionalciudadano/menu-participa">Participa</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www.utp.edu.co/correo">Correo</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www2.utp.edu.co/feed.php">RSS</a></li>
                    </ul>
                </button>
                
            </div>
        </div>

        <!-- logo de la UTP -->

        <section class="row col-4 col-sm-5 col-md-4 col-lg-3   text-center text-sm-start logo-titulo ">
            <!-- contenedor img -->
            <div class="d-flex align-items-center col-12 titulo">
                <a class="subrayado" href="http://www.utp.edu.co/" rel="noopener norreferer" title="UTP" target="_blank">
                    <img src="/img/logoutp.png" title="Universidad Tecnológica de Pereira" alt="Logo Universidad Tecnológica de Pereira" class="logo">
                </a>

                <!-- linea vertical -->
                <div class="d-none d-sm-block vl col-1 ms-4"></div>
                <!-- fin linea -->

                <!-- texto facultades -->
                <div class="col-sm-4 d-none d-sm-block text-start ms-4">

                    <a href=""><span class="tituloSup">App titulo</span>
                        
                    </a>
                </div>
                <!-- fin texto facultades -->
            </div>
            <!-- fin img -->


        </section>

        <!-- menu superior -->
        <nav class="col-lg-6 d-none d-lg-block ">
            <ul class="nav nav-fill menu-estandar menu-top-center">
                <li class="nav-item"><a class="nav-link" href="https://eventos.utp.edu.co/">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www2.utp.edu.co/principal/accesibilidad.php">Accesibilidad</a></li>
                <li class="nav-item"><a class="nav-link" href="https://pqrs.utp.edu.co/">PQRS</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www2.utp.edu.co/atencionalciudadano/">Atención al Ciudadano</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www2.utp.edu.co/atencionalciudadano/transparencia-y-acceso-a-informacion-publica.html">Transparencia</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www2.utp.edu.co/atencionalciudadano/menu-participa">Participa</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.utp.edu.co/correo">Correo</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www2.utp.edu.co/feed.php">RSS</a></li>
            </ul>
        </nav>

        <!-- logo del ministerio de educación -->
        <section class="col-6 col-sm-5 col-md-6 col-lg-3 text-end logo-ministerio">
            <a href="https://www.mineducacion.gov.co/" rel="noopener norreferer" title="Ministerio de Educación" target="_blank">
                <img src="https://media2.utp.edu.co/imagenes/ministerioeducacion.png" title="Ministerio de Educación" alt="Ministerio de Educación de Colombia" class="logo2">
            </a>
        </section>

        <!-- </div> -->

    </nav>
    <!-- fin sección del banner superior -->

    <!-- sección del slider que se muestra en la página principal. -->
    <section class="sliderprincipal">

        <div class="slider1">
            <!-- sección del slider que se muestra en la página principal. -->

                <section class="imagen-banner">
                    <img src="/img/Banner-Promocional.png" title="Universidad Tecnológica de Pereira">
                </section>

        </div>
        <!-- fin sección del slider que se muestra en la página principal -->

        <div class="titulositio">
            <h1>Aplicación</h1>
        </div>

    </section>
    <nav class="row align-items-center menu-institucional">
        <div class="col-7 d-lg-none">
            <button class="btn boton text-white dropdown" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Menu institucional">
                <i class="bi bi-list-ul fs-1"></i>
            </button>
            <ul class="dropdown-menu">
                <li class="nav-item">
                    <a class="nav-link" href="https://programasacademicos.utp.edu.co/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://app4.utp.edu.co/MatAcad/menu_inscripciones/">Inscripciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://programasacademicos.utp.edu.co/">Facultades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www2.utp.edu.co/institucional/inicio">La Universidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www2.utp.edu.co/institucional/utp-virtual/">UTP Virtual</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www2.utp.edu.co/institucional/servicios/">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www2.utp.edu.co/internacional/">Internacional</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://biblioteca.utp.edu.co/">Biblioteca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://eventos.utp.edu.co/">Eventos</a>
                </li>
            </ul>
        </div>
        <div class="col-5 d-lg-none">
            <form role="search" id="cse-search-box" method="get" class="input-group input-group-sm" action="https://crie.utp.edu.co/">
            <label class="sr-only">
                <span class="d-none screen-reader-text">Buscar:</span>
            </label>
            <input name="ie" value="UTF-8" type="hidden">
            <input class="form-control" type="search" aria-label="Google Search" placeholder="Busqueda" value="" name="s">
                    <button class="input-group-text bi btn-primary bi-search rounded-end" aria-label="Buscador" aria-hidden="false"></button>
                    <input id="buscarGeneral" name="siteurl" value="www.utp.edu.co/" type="hidden">
            </form>			
        </div>

        <div class="col-10 col-xl-9 d-none d-lg-block">
            <ul class="nav menu-estandar">
                <li class="nav-item">
                    <a class="nav-link" href="https://programasacademicos.utp.edu.co/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://app4.utp.edu.co/MatAcad/menu_inscripciones/">Inscripciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://programasacademicos.utp.edu.co/">Facultades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www2.utp.edu.co/institucional/inicio">La Universidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www2.utp.edu.co/institucional/utp-virtual/">UTP Virtual</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www2.utp.edu.co/institucional/servicios/">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www2.utp.edu.co/internacional/">Internacional</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://biblioteca.utp.edu.co/">Biblioteca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://eventos.utp.edu.co/">Eventos</a>
                </li>
            </ul>			
        </div>
        <div class="col-2 col-xl-3 d-none d-lg-block mt-2 mb-2">
            <form role="search" id="cse-search-box" method="get" class="input-group input-group-sm" action="https://crie.utp.edu.co/">
                <label class="sr-only">
                    <span class="d-none screen-reader-text">Buscar:</span>
                </label>
                <input name="ie" value="UTF-8" type="hidden">
                <input class="form-control" type="search" aria-label="Google Search" placeholder="Busqueda" value="" name="s">
                    <button class="input-group-text bi btn-primary bi-search rounded-end" aria-label="Buscador" aria-hidden="false"></button>
                <input id="buscarGeneral" name="siteurl" value="www.utp.edu.co/" type="hidden">

            </form>			
        </div>

    </nav>
    <!-- fin sección del slider que se muestra en la página principal -->
</header>