<header id="header">
    <section class="fondo" style="
      background-image: url(/img/Banner-Promocional.png);
      background-size: cover;
    ">
        <div class="up-banner-section flex-lg-nowrap p-1 p-sm-2">
            <!-- escudo utp -->
            <a href="https://www.utp.edu.co" class="up-banner-section__img-utp order-1 order-lg-0 mx-3">
                <img src="https://www.utp.edu.co/assets/img/escudos/identificador60.png"
                    alt="Escudo Universidad Tecnologica de Pereira" width="200" />
            </a>
            <!-- menu -->
            <nav class="navbar order-0 order-lg-1 d-lg-none">
                <button class="navbar-toggler bg-light" type="button" data-bs-target="#offcanvasExample"
                    aria-controls="offcanvasExample" aria-expanded="false" aria-label="Toggle navigation"
                    data-bs-toggle="offcanvas">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                    aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menú</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <hr class="w-75 mx-auto" />

                    <div class="offcanvas-body">
                        <nav class="container d-lg-none responsive-top-menu" style="">
                            <ul class="m-0 w-100">
                                <a href="/">
                                    <li>Inicio</li>
                                </a>

                                <a href="https://www2.utp.edu.co/principal/mapa.php">
                                    <li>Mapa del Sitio</li>
                                </a>

                                <a href="https://www2.utp.edu.co/atencionalciudadano/">
                                    <li>Atención al Ciudadano</li>
                                </a>

                                <a href="https://pqrs.utp.edu.co">
                                    <li>PQRS</li>
                                </a>

                                <a
                                    href="https://www2.utp.edu.co/atencionalciudadano/transparencia-y-acceso-a-informacion-publica">
                                    <li>Transparencia</li>
                                </a>

                                <a href="https://www2.utp.edu.co/atencionalciudadano/menu-participa">
                                    <li>Participa</li>
                                </a>

                                <a href="https://www2.utp.edu.co/correo">
                                    <li>Correo</li>
                                </a>

                                <a href="https://www2.utp.edu.co/feed.php">
                                    <li>RSS</li>
                                </a>
                            </ul>
                        </nav>

                        <hr class="w-75 mx-auto" />

                        <div class="icon-container justify-content-between">
                            <div class="align-items-end d-flex flex-wrap justify-content-between mb-5">
                                <a href="https://www2.utp.edu.co/inscripciones/" title="Inscripciones">
                                    <img src="/img/iconos/inscripciones_azul.png" alt="" width="100" />
                                </a>
                                <a href="https://programasacademicos.utp.edu.co" title="Facultades">
                                    <img src="/img/iconos/programas_academicos_azul.png" alt="" width="100" />
                                </a>
                                <a href="https://www2.utp.edu.co/portal/universidad" title="Universidad">
                                    <img src="/img/iconos/universidad_azul.png" alt="" width="100" />
                                </a>
                            </div>

                            <div class="align-items-end d-flex flex-wrap justify-content-between mb-5">
                                <a href="https://biblioteca.utp.edu.co">
                                    <img src="/img/iconos/biblioteca_azul.png" alt="" width="100" />
                                </a>
                                <a href="https://www2.utp.edu.co/portal/academia" title="Academia">
                                    <img src="/img/iconos/academia_azul.png" alt="" width="100" />
                                </a>
                                <a href="https://www2.utp.edu.co/portal/servicios" title="Servicios">
                                    <img src="/img/iconos/servicios_azul.png" alt="" width="100" />
                                </a>
                            </div>

                            <div class="align-items-end d-flex flex-wrap justify-content-between mb-5">
                                <a href="https://www2.utp.edu.co/portal/utp-virtual" title="UTP Virtual">
                                    <img src="/img/iconos/UTP_virtual_azul.png" alt="" width="100" />
                                </a>
                                <a a="" href="https://www2.utp.edu.co/internacional/" title="Internacional">
                                    <img src="/img/iconos/internacional_azul.png" alt="" width="100" />
                                </a>
                                <a href="https://eventos.utp.edu.co/" title="Eventos">
                                    <img src="/img/iconos/eventos_azul.png" alt="" width="100" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <nav class="up-banner-section__main-menu d-none d-lg-flex text-light me-3">
                <ul class="list-unstyled d-flex flex-lg-wrap m-0 gap-3 justify-content-center w-100">
                    <a href="/" class="text-light">
                        <li>Inicio</li>
                    </a>
                    <div class="vr vr opacity-75 text-light"></div>
                    <a href="https://www2.utp.edu.co/principal/mapa.php" class="text-light">
                        <li>Mapa del Sitio</li>
                    </a>
                    <div class="vr vr opacity-75 text-light"></div>
                    <a href="https://www2.utp.edu.co/atencionalciudadano/" class="text-light">
                        <li>Atención al Ciudadano</li>
                    </a>
                    <div class="vr vr opacity-75 text-light"></div>
                    <a href="https://pqrs.utp.edu.co" class="text-light">
                        <li>PQRS</li>
                    </a>
                    <div class="vr vr opacity-75 text-light"></div>
                    <a href="https://www2.utp.edu.co/atencionalciudadano/transparencia-y-acceso-a-informacion-publica"
                        class="text-light">
                        <li>Transparencia</li>
                    </a>
                    <div class="vr vr opacity-75 text-light"></div>
                    <a href="https://www2.utp.edu.co/atencionalciudadano/menu-participa" class="text-light">
                        <li>Participa</li>
                    </a>
                    <div class="vr vr opacity-75 text-light"></div>
                    <a href="https://www2.utp.edu.co/correo" class="text-light">
                        <li>Correo</li>
                    </a>
                    <div class="vr vr opacity-75 text-light"></div>
                    <a href="https://www2.utp.edu.co/feed.php" class="text-light">
                        <li>RSS</li>
                    </a>
                </ul>
            </nav>

            <!-- ministerio -->
            <a href="https://www.mineducacion.gov.co/portal/"
                class="up-banner-section__img-men order-2 d-block mx-auto d-sm-inline-block my-3 m-sm-0">
                <img src="https://www.utp.edu.co/assets/img/escudos/mineducacionLogo.png" alt="Ministerio de Educación"
                    class="" />
            </a>
        </div>

        <section class="middle-banner-section d-flex justify-content-lg-end justify-content-center">

        </section>
    </section>

    <section class="navegacion d-flex">

        <!-- menu de navegación cuando la pantalla esta en tamaño xs -->
        <!-- ======================================================================================================================================================= -->

        <!-- fin del menu de navegación cuando la pantalla esta en tamaño xs -->
        <!-- ======================================================================================================================================================= -->

        <nav class="col-lg-8 col-md-12 col-sm-12 d-none d-lg-block menu-nav">
            <ul
                class="d-flex gap-3 justify-content-md-center justify-content-xl-start list-inline list-unstyled menu_navegacion flex-wrap">
                <li><a href="https://www2.utp.edu.co/inscripciones/" title="Inscripciones"> <small> Inscripciones
                        </small> </a></li>


                <li><a href="https://programasacademicos.utp.edu.co" title="Facultades"><small> Facultades </small> </a>
                </li>


                <li><a href="https://www2.utp.edu.co/portal/universidad" title="Universidad"><small> Universidad
                        </small> </a></li>


                <li><a href="https://www2.utp.edu.co/portal/academia" title="Academia"><small> Academia </small> </a>
                </li>


                <li><a href="https://www2.utp.edu.co/portal/utp-virtual" title="UTP Virtual"><small>UTP Virtual </small>
                    </a></li>


                <li><a href="https://www2.utp.edu.co/portal/servicios" title="Servicios"><small> Servicios </small> </a>
                </li>


                <li class="hidden-md"><a href="https://www2.utp.edu.co/internacional/" title="Internacional"><small>
                            Internacional </small> </a></li>


                <li><a href="https://eventos.utp.edu.co/" title="Eventos"><small> Eventos </small> </a></li>
            </ul>
        </nav>

        <div class="col-lg-2 col-6 buscador-container">
            <div class="row buscador">
                <form class="input-group input-group-sm" role="search"
                    action="//www2.utp.edu.co/atencionalciudadano/busquedas.html" method="GET" id="cse-search-box">

                    <input name="cx" value="007582353815135186119:mbmzeke9aqo" type="hidden">
                    <input name="cof" value="FORID:10" type="hidden">
                    <input name="ie" value="UTF-8" type="hidden">
                    <label for="buscar" class="d-none">Buscar</label>
                    <input class="form-control" id="buscar" name="q" type="text">

                    <button class="btn btn-info text-light" type="button" id="button-addon2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
                            </path>
                        </svg>
                    </button>

                    <input name="siteurl" value="www2.utp.edu.co/" type="hidden">
                </form>
            </div>
        </div>

    </section>
</header>