<header id="header">

  <nav class="row align-items-center menu-institucional">
    <section class="row col-6 text-center text-sm-start logo-titulo ">
      <!-- contenedor img -->
      <div class="d-flex align-items-center col-12 titulo">
          <!-- texto facultades -->
          <div class="d-sm-block text-start ms-4">
              <a href="/admin">
                <span class="tituloSup">App titulo</span>                      
              </a>
          </div>
      </div>
    </section>

    <div class="col-6 d-lg-none text-end">
        <button class="btn boton text-white dropdown" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Menu institucional">
            <i class="bi bi-list-ul fs-1"></i>
        </button>
        <ul class="dropdown-menu">
            <li class="nav-item">
                <a class="nav-link" href="/admin/usuarios">Listar Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/usuarios/nuevo">A침adir Usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Cerrar Sesi칩n</a>
            </li>
        </ul>
    </div>
    
    <!-- Menu no responsive -->
    <!-- <div class="col-10 col-lg-6 d-none d-lg-block">
        <ul class="nav menu-estandar">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Cerrar Sesi칩n</a>
            </li>
        </ul>			
    </div> -->
    
  </nav>
  <!-- fin secci칩n del banner superior -->

</header>